---
export interface Props {
  post: boolean;
}

const { post } = Astro.props;
---

{
  post ? (
    <header class="py-4">
      <nav>
        <a href="/" title="Homepage" class="flex gap-2 items-end">
          <img
            src="/Moebius_Robot.png"
            alt="Moebius Robot"
            class="border-stone-600 dark:border-zinc-50 object-cover h-12 w-12 border"
          />
          <h1 class="font-semibold text-lg font-mono leading-none">linusthe.dev</h1>
        </a>
      </nav>
    </header>
  ) : (
    <header class="py-10">
      <nav class="flex gap-2">
        <a href="/" title="Homepage">
          <img
            src="/Moebius_Robot.png"
            alt="Moebius Robot"
            class="border-stone-600 dark:border-zinc-50 object-cover h-28 w-28 border-2"
          />
        </a>

        <div class="ml-auto flex gap-1 flex-col text-sm items-end">
          <h1 class="font-semibold text-2xl font-mono mb-auto">linusthe.dev</h1>

          <a href="mailto:contact@linusthe.dev" class="hover:underline hover:decoration-wavy">
            Contact
          </a>
          <a href="https://github.com/lj-n" class="hover:underline hover:decoration-wavy">
            GitHub
          </a>
        </div>
      </nav>
    </header>
  )
}
