@font-face {
  font-family: "Eczar";
  src: url(/Eczar-Medium.ttf) format("truetype");
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* https://github.com/kepano/flexoki */
  --flexoki-black: #100f0f;
  --flexoki-paper: #fffcf0;

  --flexoki-950: #1c1b1a;
  --flexoki-900: #282726;
  --flexoki-850: #343331;
  --flexoki-800: #403e3c;
  --flexoki-700: #575653;
  --flexoki-600: #6f6e69;
  --flexoki-500: #878580;
  --flexoki-300: #b7b5ac;
  --flexoki-200: #cecdc3;
  --flexoki-150: #dad8ce;
  --flexoki-100: #e6e4d9;
  --flexoki-50: #f2f0e5;

  --flexoki-red-600: #af3029;
  --flexoki-red-400: #d14d41;

  --flexoki-orange-600: #bc5215;
  --flexoki-orange-400: #da702c;

  --flexoki-yellow-900: #4d3a0b;
  --flexoki-yellow-600: #ad8301;
  --flexoki-yellow-400: #d0a215;
  --flexoki-yellow-100: #fceeb8;

  --flexoki-green-600: #66800b;
  --flexoki-green-400: #879a39;

  --flexoki-cyan-950: #142625;
  --flexoki-cyan-600: #24837b;
  --flexoki-cyan-400: #3aa99f;
  --flexoki-cyan-50: #ebf2e7;

  --flexoki-blue-600: #205ea6;
  --flexoki-blue-400: #4385be;

  --flexoki-purple-600: #5e409d;
  --flexoki-purple-400: #8b7ec8;

  --flexoki-magenta-600: #a02f6f;
  --flexoki-magenta-400: #ce5d97;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: var(--flexoki-black);
  background-color: var(--flexoki-paper);
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Eczar", serif;
  overscroll-behavior: none;
}

#canvas {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.links {
  margin: 0 auto;
  user-select: none;
}

.links a span {
  font-size: 1.25rem;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}
a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--flexoki-700);
  text-decoration-thickness: 2px;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 100%;
  padding: 0.5rem 0;
  margin: auto;
  user-select: none;
}

h1 div {
  display: inline-block;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  .link a span {
    font-size: 1rem;
  }
}
