---
import Layout from "./Layout.astro";
import type { MDXLayoutProps } from "astro";

type Props = MDXLayoutProps<{
  title: string;
  description: string;
  date?: string;
  backURL: string;
}>;

const { frontmatter, headings } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <a
    href={frontmatter.backURL}
    title="go back"
    class="flex gap-2 text-sm hover:underline hover:decoration-wavy mb-2 mr-auto"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1em"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-corner-up-left"
    >
      <polyline points="9 14 4 9 9 4"></polyline>
      <path d="M20 20v-7a4 4 0 0 0-4-4H4"></path>
    </svg>
    go back
  </a>
  <article class="py-10">
    <slot />
    {
      headings.length && (
        <p class="text-sm flex mt-4">
          <a href={`#${headings[0].slug}`} class="mx-auto flex gap-2 hover:underline hover:decoration-wavy">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-arrow-up"
            >
              <line x1="12" y1="19" x2="12" y2="5" />
              <polyline points="5 12 12 5 19 12" />
            </svg>
            to the top
          </a>
        </p>
      )
    }
  </article>
</Layout>
